@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');

body {
  $font-first: 'Abril Fatface', cursive;
  $font-second: 'Poppins', sans-serif;
  background: #cccccb;
  font-family: $font-second;
}
